/* Global Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SpaceGrotesk-Bold", Arial, Helvetica, sans-serif;
    src: url(./assets/fonts/static/SpaceGrotesk-Bold.ttf) format("truetype");
    font-weight: 100 900;
}

@font-face {
    font-family: "SpaceGrotesk-Medium", Arial, Helvetica, sans-serif;
    src: url(./assets/fonts/static/SpaceGrotesk-Medium.ttf) format("truetype");
    font-weight: 100 900;
}

:root {
    --black: #151515;
    --green: #4ee1a0;
    --dark-grey: #242424;
    --light-grey: #d9d9d9;
    --white: #fff;
}

/* Main Styling */

body {
    background-color: var(--black);
    font-family: "SpaceGrotesk-Medium", Arial, Helvetica, sans-serif;
}

hr {
    border-color: var(--white);
    width: 90%;
}

/* Header */

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    padding: 1.5rem;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    color: var(--white);
    font-family: "SpaceGrotesk-Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.socials-container {
    display: flex;
    gap: 1.5rem;
}

.social-icon-link {
    cursor: pointer;
    opacity: 0.7;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
}

.social-icon-link:hover {
    opacity: 1;
}

.placeholder-img {
    opacity: 0.3;
    width: 300px;
}

.pattern-rings {
    position: absolute;
    left: -25rem;
}

.pattern-circle {
    position: absolute;
    bottom: 0;
    right: -5rem;
}

/* Intro Section */

.intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-block-end: 1rem;
}

h2,
.intro-text {
    color: var(--light-grey);
}

.intro-text {
    line-height: 150%;
    margin-block-end: 1rem;
    padding: 1rem 2rem;
}

.name {
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-underline-offset: 0.5rem;
}

.contact-me-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
    margin-block-end: 4rem;
    opacity: 0.7;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--green);
    text-decoration-thickness: 0.2rem;
    transition: opacity 0.2s ease-in-out;
}

.contact-me-link:hover {
    opacity: 1;
}

/* Experience Section */

.experience {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 1.5rem;
}

article {
    text-align: center;
}

h3 {
    color: var(--white);
    font-size: 2rem;
    margin-block-end: 0.8rem;
}

.experience-text {
    color: var(--light-grey);
}
