/* || Global Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

:root {
    --black: #151515;
    --green: #4ee1a0;
    --dark-grey: #242424;
    --light-grey: #d9d9d9;
    --white: #fff;
}

/* || Main Styling */

html {
    overflow-x: hidden;
}

body {
    background-color: var(--black);
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

main {
    padding: 0 1rem;
}

/* Header */

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 3rem 0 0 0;
    margin-block-end: 1.5rem;
}

.header-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    color: var(--white);
    font-size: clamp(1.5rem, 2vw, 2rem);
}
.socials-container {
    display: flex;
    gap: 1.5rem;
}

.social-icon-link {
    cursor: pointer;
    opacity: 0.7;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
}

.social-icon-link:hover {
    opacity: 1;
}

.pattern-rings {
    position: absolute;
    top: 20rem;
    left: -25rem;
}

.pattern-circle {
    position: absolute;
    top: 30rem;
    right: -5rem;
}

/* Intro Section */

.intro {
    align-items: center;
    border-bottom: 0.1rem solid var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
    text-align: center;
}

.placeholder-img {
    width: 300px;
    margin-block-end: 2rem;
}

.intro-text-container {
    margin-block-end: 3rem;
}

h2 {
    font-size: 2.5rem;
    margin-block-end: 1rem;
}

h2,
.intro-text {
    color: var(--light-grey);
}

.intro-text {
    line-height: 150%;
    padding: 1rem 2rem;
    font-size: clamp(1rem, 2.2vw, 1.5rem);
}

.name {
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-underline-offset: 0.5rem;
}

.contact-me-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
    margin-block-end: 4rem;
    opacity: 0.7;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--green);
    text-decoration-thickness: 0.2rem;
    transition: opacity 0.2s ease-in-out;
}

.contact-me-link:hover {
    opacity: 1;
}

/* Experience Section */

.experience {
    align-items: center;
    border-bottom: 0.1rem solid var(--white);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 1.5rem;
    position: relative;
}

article {
    text-align: center;
}

h3 {
    color: var(--white);
    font-size: 2rem;
    margin-block-end: 0.8rem;
}

.experience-text {
    font-size: clamp(1rem, 2.2vw, 1.2rem);
    color: var(--light-grey);
}

.experience-rings {
    position: absolute;
    top: 30rem;
    right: -22rem;
}

/* Projects Section */

.projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0;
}

.projects-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 2.5rem;
}

.projects-contact {
    margin: 0;
}

.project-header-text {
    margin: 0;
}

.project-thumbnail {
    height: 14rem;
    margin-block-end: 1rem;
    width: 100%;
}

h4 {
    color: var(--light-grey);
    font-size: 1.5rem;
    margin-block-end: 1rem;
    text-align: start;
}

.tools-container {
    color: var(--light-grey);
    display: flex;
    gap: 1rem;
    margin-block-end: 1rem;
}

.tool {
    font-size: 1.2rem;
    font-weight: 500;
}

.project-links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.project-link {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    opacity: 0.7;
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-underline-offset: 1rem;
    transition: opacity 0.2s ease-in-out;
}

.project-link:hover {
    opacity: 1;
}

/* Contact Section */

footer {
    background-color: var(--dark-grey);
    position: relative;
    padding: 0 1rem;
}

.contact {
    padding: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-intro-text {
    color: var(--light-grey);
    width: 90%;
    line-height: 150%;
    font-size: clamp(1rem, 2.2vw, 1.4rem);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 3rem 1rem;
    border-bottom: 0.1rem solid var(--white);
}

label {
    color: var(--light-grey);
    padding-left: 1rem;
    font-size: clamp(1rem, 2.2vw, 1.4rem);
}

input,
textarea {
    background-color: var(--dark-grey);
    border: none;
    border-bottom: 0.1rem solid var(--light-grey);
    color: var(--white);
    padding: 0.5rem;
    font-size: clamp(1.2rem, 2.2vw, 1.6rem);
    margin-block-end: 1rem;
}
.form-btn {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    color: var(--white);
    border-bottom: 0.1rem solid var(--light-grey);
    padding: 1rem;
    width: 10rem;
    opacity: 0.7;
    cursor: pointer;
    font-size: clamp(1rem, 2.2vw, 1.1rem);
    transition: opacity 0.2s ease-in-out;
}

.form-btn:hover {
    opacity: 1;
}
.form-img {
    position: absolute;
    top: 30rem;
    left: -20rem;
}

.footer-detail {
    padding: 2rem 0;
    align-items: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.footer-text {
    color: var(--white);
    font-size: 2rem;
}

/* || Media Queries */

@media screen and (min-width: 51.15em) {
    /* Header */

    header {
        padding: 2rem;
    }

    .header-items {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
        width: 100%;
    }

    .pattern-rings {
        top: 5rem;
    }

    .pattern-circle {
        top: 25rem;
    }

    /* Intro Section */

    .intro {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        width: 100%;
        padding: 0 2rem;
    }

    .placeholder-img {
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
    }

    .intro-text-container {
        grid-column: 1;
        text-align: start;
    }

    .intro-text {
        text-align: start;
        padding: 0;
        margin-block-end: 1.5rem;
    }

    /* Experience Section */

    .experience {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    .experience-rings {
        top: 12rem;
    }

    /* Project Section */

    .projects-header {
        padding: 0 2rem;
        margin-block-end: 1rem;
    }

    .projects-container {
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        gap: 3rem;
        padding: 0 2rem;
        margin-block-end: 3rem;
    }

    .form-img {
        top: 44rem;
    }

    /* Footer */
}
